*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    --bg-color: hsl(0, 0%, 90%);
 
    --text-color: hsl(240, 7%, 21%);
    --bg-secondary-color: hsl(194, 97%, 31%);
    --bg-primary-color: hsl(240, 9%, 89%);

    font-size: 62.5%;
}


body{

    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    display: grid;
    min-height: 100vh;
}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}